<div class="container">
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/img-01.png" alt="IMG">
      </div>

      <form  [formGroup]="SForm" (ngSubmit)="Login(SForm.value)" class="login100-form validate-form">
        <span class="login100-form-title">
          Member Login
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" formControlName="userid" placeholder="Your UserId" >
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input class="input100" type="password" formControlName="password" placeholder="Your Password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div  *ngIf="error" class="alert alert-danger">
            <strong>Error!</strong> Check your <strong>UserId or Password</strong> its invalid!.
          </div>
        <div  class="container-login100-form-btn">
          <button [disabled]="SForm.invalid" type="submit" class="login100-form-btn">
            Login
          </button>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" routerLink="../signup">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" ></ngx-loading>